<p>DATOS DE LOCALIZACION</p>

<!-- // <div *ngFor="let product of productList">-->
    <!-- // Recorre toda la lista de peopleList y añade a person -->
   <!-- // {{product.name}} {{product.active}}--> 
   <!-- // Interpolación para acceder al nombre, apellido -->
<!-- // </div>-->


<div>
<label for="email">Provincia</label><br>
<input type="text" id="provincia" forControlName="provincia">
</div>

<div>
    <label for="">Canton</label><br>
    <input type="text" id="canton" forControlName="canton">
</div>

<div>
    <label for="">Parroquia</label><br>
    <input type="text" id="parroquia" forControlName="Parroquia">
</div>

<div>
    <label for="">Sector</label><br>
    <input type="text" id="sector" forControlName="sector">
</div>

<div>
    <label for="">Calle</label><br>
    <input type="text" id="calle" forControlName="calle">
</div>

<div>
    <label for="">Manzana</label><br>
    <input type="text" id="manzana" forControlName="manzana">
</div>

<div>
    <label for="">Lugar Disperso</label><br>
    <input type="text" id="lugar disperso" forControlName="lugar disperso">
</div>